<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Register</title>
</head>

<body>
    <form [formGroup]="ngForm" (ngSubmit)= "Onclick(ngForm.value)" class="fields">

        <div class="input-group mb-3">
            <input type="text" class="form-control" name="firstname" placeholder="FirstName" 
                aria-describedby="basic-addon1" formControlName="firstname">
        </div>
        <p *ngIf="submit && fn['firstname'].errors" class="para">Firstname is required*</p>

        <div class="input-group mb-3">
            <input type="text" class="form-control" name="lastname" placeholder="LastName"
                aria-describedby="basic-addon1" formControlName="lastname">
        </div>
        <p *ngIf="submit && fn['lastname'].errors" class="para">Lastname is required*</p>

        <div class="input-group mb-3">
            <input type="email" class="form-control" name="email" placeholder="Email" aria-describedby="basic-addon1"
                formControlName="email">
        </div>
        <p *ngIf="submit && fn['email'].errors" class="para">Email is required*</p>

        <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password"
                aria-describedby="basic-addon1" formControlName="password">
        </div>
        <p *ngIf="submit && fn['password'].errors" class="para">Password is required*</p>

        <div class="input-group mb-3">
            <input type="number" class="form-control" name="mobilenumber" placeholder="MobileNumber"
                aria-describedby="basic-addon1" formControlName="mobilenumber">
        </div>
        <p *ngIf="submit && fn['mobilenumber'].errors" class="para">MobileNumber is required*</p>

        <input type="submit" class="btn btn-dark" >
    </form>
</body>

</html>